In [1]:
import sys 
sys.path.append("..")

In [2]:
import pandas as pd

In [3]:
from tools.kostat_api import get_10_year_after_house, get_one_people_gdp, get_one_people_grdp, get_age_population, get_move_people2024, get_move_people2025

c:\PythonProject\RAG_COMMANDER\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
get_10_year_after_house("강남구")

[{'house_cnt': '4166', 'adm_cd': '11230', 'adm_nm': '강남구'}]

In [5]:
get_one_people_gdp()

{'2018': 36791700,
 '2019': 37006320,
 '2020': 37430780,
 '2021': 40042500,
 '2022': 41788260,
 '2023': 43388510,
 '2024': 49808640}

In [6]:
get_one_people_grdp().head()

,자치구별,2018_당해년가격,2019_당해년가격,2020_당해년가격,2021_당해년가격,2022_당해년가격
0,종로구,30763051000000,31952991000000,31074021000000,33155488000000,34298656000000
1,중구,59212461000000,59526399000000,60292105000000,66215962000000,71966937000000
2,용산구,15083040000000,15456977000000,15696785000000,16407415000000,17810231000000
3,성동구,13144185000000,13531243000000,13807677000000,15933418000000,16751326000000
4,광진구,7036896000000,7234992000000,7375518000000,7503131000000,8050506000000

In [7]:
get_age_population().head()

,행정구역,2025년04월_계_총인구수,2025년04월_계_연령구간인구수,2025년04월_계_0~9세,2025년04월_계_10~19세,2025년04월_계_20~29세,2025년04월_계_30~39세,2025년04월_계_40~49세,2025년04월_계_50~59세,2025년04월_계_60~69세,...,2025년09월_여_10~19세,2025년09월_여_20~29세,2025년09월_여_30~39세,2025년09월_여_40~49세,2025년09월_여_50~59세,2025년09월_여_60~69세,2025년09월_여_70~79세,2025년09월_여_80~89세,2025년09월_여_90~99세,2025년09월_여_100세 이상
1,종로구,"138,096","138,096","5,314","9,409","20,769","19,746","18,374","23,228","21,000",...,"4,761","10,900","9,967","9,488","11,717","10,455","6,694","4,158",816,25
2,중구,"119,601","119,601","5,162","5,913","16,421","21,348","16,277","18,349","18,167",...,"2,948","8,888","10,671","8,038","9,001","9,085","6,150","3,611",731,14
3,용산구,"203,350","203,350","10,110","12,839","27,485","36,809","29,194","32,472","28,419",...,"6,242","14,873","19,036","14,704","16,462","14,514","8,843","5,385","1,063",31
4,성동구,"273,371","273,371","15,703","17,470","38,470","46,597","39,451","43,337","38,424",...,"8,752","20,043","24,203","19,705","21,942","19,597","12,062","6,694","1,119",25
5,광진구,"332,488","332,488","13,902","22,994","56,589","55,958","46,203","51,975","45,998",...,"11,366","30,224","28,499","23,529","26,534","23,845","14,262","6,906","1,252",31

In [8]:
get_move_people2024().head()

  전출지     전입지       계
0  전국      서울  893566
1  전국  서울 종로구   14483
2  전국   서울 중구   14333
3  전국  서울 용산구   20930
4  전국  서울 성동구   25915

In [9]:
get_move_people2025().head()

  전출지     전입지       계
0  전국      서울  635272
1  전국  서울 종로구   10273
2  전국   서울 중구    9497
3  전국  서울 용산구   14793
4  전국  서울 성동구   20141